.uv-clear {
    background-color: white;
}

.uv-green {
    background-color: green;
}

.uv-yellow {
    background-color: yellow;
}

.uv-orange {
    background-color: orange;
}

.uv-red {
    background-color: red;
}

.uv-purple {
    background-color: purple;
}